@page
@using System.Security.Claims
@using OpenIddict.Abstractions
@model Lettuce.Pages.AdminModel

<link rel="stylesheet" href="~/css/game.css" asp-append-version="true"/>
<script src="~/js/signalr/dist/browser/signalr.js"></script>

<div>
    <p>This page is @(User.Identity?.IsAuthenticated == true ? "Authorized" : "Unauthorized")!</p>
    <p>Currently there are <span id="count">?</span> players on the page</p>
    <p>Hello @User.GetClaim(ClaimTypes.NameIdentifier)</p>
    <img src="@User.GetClaim("avatar")"  alt=""/>
</div>

<div style="display:none" id="connection-indicator" class="connection-indicator">
    <i style="display:none" id="connection-indicator-connected" class="fa-regular fa-wifi"></i>
    <i style="display:none" id="connection-indicator-disconnected" class="fa-regular fa-wifi-slash"></i>
    <i style="display:none" id="connection-indicator-connecting" class="fa-regular fa-wifi-slash"></i>
</div>

<div id="pawns">
    
</div>

<button onclick="moveRelative(0, -1)">Move up!</button>
<button onclick="moveRelative(0, 1)">Move down!</button>
<button onclick="moveRelative(-1, 0)">Move left!</button>
<button onclick="moveRelative(1, 0)">Move right!</button>

<button onclick="moveRelative(1, -1)">Move rightup!</button>
<button onclick="moveRelative(-1, -1)">Move leftup!</button>
<button onclick="moveRelative(1, 1)">Move rightdown!</button>
<button onclick="moveRelative(-1, 1)">Move leftdown!</button>

<input type="text" id="talkbox"/>
<input type="submit" onclick="talk()" value="Speak" />

@{
    if (Model.OwnPawn?.Alive == false)
    {
        <select id="scol">
            @{
                foreach (var pawn in Model.Pawns)
                {
                    if (!pawn.Alive) continue;
                    if (pawn.Id == Guid.AllBitsSet) continue;
                    <option value="@pawn.Id.ToString()" selected="@(Model.OwnPawn.Vote == pawn.Id ? "true" : "false")">@pawn.DisplayName</option>
                }
            }
        </select>
        <button onclick="vote()">Cast vote</button>
    }
}

<button onclick="ldrop()">Run lettuce drop</button>

<ul>
    @{
        foreach (var pawn in Model.Pawns)
        {
            <li>@pawn.Id | @pawn.DiscordId | @pawn.DisplayName | <a href="#" onclick="removePawn('@pawn.Id.ToString()')">Remove</a></li>
        }
    }
</ul>
<input id="discordId" type="text" placeholder="discord id" />
<input id="initialName" type="text" placeholder="initial name" />
<button onclick="addPawn()">Add pawn</button>

<script>
    const GRID_WIDTH = @Program.GridWidth;
    const GRID_HEIGHT = @Program.GridHeight;
    window.lettuce = {};
    window.lettuce.isConnected = false;
    let statusTimeout;
    let connection = new signalR.HubConnectionBuilder()
        .withUrl("/lettuceHub")
        .withAutomaticReconnect()
        .build();

    showConnectionStatus("connecting")
    connection.start().then(async function () {
        onConnect(false)
        let pawns = await connection.invoke("GetPawns");
        window.lettuce.pawns = pawns;
        updatePawns();
        console.log(pawns);
        
        setInterval(async () => {
            if (!window.lettuce.isConnected) return;
            let count = await connection.invoke("GetLiveCount")
            updateLiveCount(count)
        }, 1000)
        
    }).catch(function (err) {
        return console.error(err.toString());
    });
    
    function showConnectionStatus(status) {
        if (statusTimeout) clearTimeout(statusTimeout)
        switch (status) {
            case "disconnected":
                document.getElementById("connection-indicator").style.display = "unset";
                document.getElementById("connection-indicator-connected").style.display = "none";
                document.getElementById("connection-indicator-disconnected").style.display = "unset";
                document.getElementById("connection-indicator-connecting").style.display = "none";
                break;
            case "connected":
                document.getElementById("connection-indicator").style.display = "unset";
                document.getElementById("connection-indicator-connected").style.display = "unset";
                document.getElementById("connection-indicator-disconnected").style.display = "none";
                document.getElementById("connection-indicator-connecting").style.display = "none";
                break;
            case "connecting":
                document.getElementById("connection-indicator").style.display = "unset";
                document.getElementById("connection-indicator-connected").style.display = "none";
                document.getElementById("connection-indicator-disconnected").style.display = "none";
                document.getElementById("connection-indicator-connecting").style.display = "unset";
                break;
            default:
                document.getElementById("connection-indicator").style.display = "none";
                document.getElementById("connection-indicator-connected").style.display = "none";
                document.getElementById("connection-indicator-disconnected").style.display = "none";
                document.getElementById("connection-indicator-connecting").style.display = "none";
        }
    }
    
    connection.onreconnected(() => {
        onConnect(true);
    });

    connection.onclose(() => {
        showConnectionStatus("disconnected");
    })

    connection.onreconnecting(error => {
        onDisconnect(error);
        showConnectionStatus("connecting");
    });

    function onDisconnect(error) {
        console.warn("Connection lost due to error:", error);
        window.lettuce.isConnected = false;
    }

    function onConnect(isReconnect) {
        console.log(`${isReconnect ? "Rec" : "C"}onnected!`);
        window.lettuce.isConnected = true;
        showConnectionStatus("connected");
        statusTimeout = setTimeout(() => {
            showConnectionStatus();
        }, 2000);
    }


    connection.on("UpdateLiveCount", (count) => {
        console.log("Got count from server");
        updateLiveCount(count);
    })
    
    connection.on("MoveTo", (pawnId, x, y, actions) => {
        console.log(pawnId, x, y);
        let pawn = window.lettuce.pawns.find(p => p.id === pawnId);
        pawn.x = x;
        pawn.y = y;
        pawn.actions = actions;
        updatePawns();
    })

    connection.on("Attack", (attackerId, attackedId) => {
        console.log(attackerId, attackedId);
        let attacker = window.lettuce.pawns.find(p => p.id === attackerId);
        attacker.actions -= 1;
        let attacked = window.lettuce.pawns.find(p => p.id === attackedId);
        attacked.health -= 1;
        if (attacked.health < 1) attacked.alive = false;
        updatePawns();
    })

    connection.on("Gift", (attackerId, attackedId, amount) => {
        console.log(attackerId, attackedId, amount);
        let attacker = window.lettuce.pawns.find(p => p.id === attackerId);
        attacker.actions -= amount;
        let attacked = window.lettuce.pawns.find(p => p.id === attackedId);
        attacked.actions += amount;
        updatePawns();
    })
    
    connection.on("LettuceDrop", (amount) => {
        console.log("Drop", amount);
        window.lettuce.pawns.forEach(pawn => {
            if (pawn.id === "ffffffff-ffff-ffff-ffff-ffffffffffff") return;
            pawn.actions += amount;
        })
        updatePawns();
    })
    
    function updateLiveCount(count) {
        document.getElementById("count").innerHTML = count;
    }
    
    function updatePawns() {
        let html = "<ul>"
        window.lettuce.pawns.forEach(pawn => {
            html += `<li>${pawn.displayName} - X: ${pawn.x} Y: ${pawn.y} - ${pawn.health}HP ${pawn.actions} Lettuce ${pawn.alive ? "Alive" : "Dead"} <a href="#" onclick="attack('${pawn.id}')">Attack</a> <a href="#" onclick="gift('${pawn.id}')">Gift</a></li>`
        })
        html += "</ul>"
        document.getElementById("pawns").innerHTML = html; 
    }

    async function attack(id) {
        await connection.invoke("Attack", id);
    }

    async function gift(id) {
        await connection.invoke("Gift", id);
    }
    
    async function moveRelative(x, y) {
        let pawn = window.lettuce.pawns.find(p => p.id === "@(Html.Raw(User.GetClaim("pawnId")))");
        await connection.invoke("MoveTo", pawn.x+x, pawn.y+y);
    }
    
    async function talk() {
        let textbox = document.getElementById("talkbox");
        let msg = textbox.value;
        textbox.value = "";
        await connection.invoke("Speak", msg);
    }
    
    async function vote() {
        let vote = document.getElementById("scol").value;
        await connection.invoke("Vote", vote);
    }
    
    async function ldrop() {
        await connection.invoke("LDrop");
    }

    async function removePawn(id) {
        await connection.invoke("RemovePawn", id)
        window.location.reload();
    }

    async function addPawn() {
        let discordId = document.getElementById("discordId").value;
        let initialName = document.getElementById("initialName").value;
        await connection.invoke("AddPawn", discordId, initialName)
        window.location.reload();
    }
</script>
